.first-button {
    padding: 5px 15px;
    border: 1px solid blueviolet;
    color: blueviolet;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        color: white;
        background: blueviolet;
    }

    &[disabled] {
        color: grey;
        border: 1px solid grey;

        &:hover {
            color: grey;
            background: none;
        }
    }
}