.trigger-tooltip {
    background: #eee;
    width: 300px;
    display: inline-block;
    height: 20px;
}

.overflowed {
    background: orange;
    width: 400px;
    height: 36px;
    overflow: hidden;
}

.toolie {
    background: blueviolet;
}